.game {
 font-size :40px;

 color: white;
 align-items: center;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
}


.game-info{
    color:white;
}
.table-info-game{
    padding: 10px;
}
.bg-gradient-custom
{
    background: linear-gradient(87deg,#0288D1 0, #0277BD 100%) !important;
}
.bg-gradient-info
{
    background: linear-gradient(87deg, #0288D1 0, #01579B 100%) !important;
}
