// Here you can add other styles

.pb-border_1{
  padding-bottom: 50px !important;}

.pb-border_2{
  padding-bottom: 60px !important;}

.pb-border_3{
  padding-bottom: 3px !important;}

.pb-border_4{
  padding-bottom: 56px !important;}

.text-personal_1{
        font-size: 1.3rem;}

.text-personal_2 {
  font-size: 2.2rem; }

.text-personal_3 {
  font-size: 1.4rem; }
