// Here you can add other styles

.pb-border_1{
  padding-bottom: 50px !important;}

.pb-border_2{
  padding-bottom: 60px !important;}

.pb-border_3{
  padding-bottom: 3px !important;}

.pb-border_4{
  padding-bottom: 56px !important;}

.text-personal_1{
        font-size: 1.3rem;}

.text-personal_2 {
  font-size: 2.2rem; }

.text-personal_3 {
  font-size: 1.4rem; }

  .img-avatar_1, .avatar_1 > img,
   {
    max-width: 100%;
    height: auto;
     }
    .app-header .nav-item .nav-link > .img-avatar_1, .app-header .nav-item .avatar.nav-link > img {
      height: 35px;
      margin: 0 10px; }
    .bg-white_04 {
        background-color: rgba(255,255,255,0.4) !important;
    }
